* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: aquamarine;
  padding: 100px;
  color: burlywood;
  height: 50px;
}
.sp2 {
  padding-left: 50px;
  size: 20px;
}
.h1 {
  padding-top: 30px;
  font-size: xx-large;
}

.image {
  text-align: center;
  margin: 70px;
}

.image img {
  height: 300px;
  width: 325px;
  border-radius: 250px;
}
.p1 {
  padding-top: 25px;
  font-size: medium;
}
.p2 {
  padding-top: 40px;
}
